{% extends 'base.html' %}
{% block body %}
<h2>{{ the_title }}</h2>
<form action='/resultados' method='POST'>
<table>
<p>Usa este formulario para obtener las letras encontradas en una palabra:</p>
<tr><td>Frase:</td><td><input name='frase' type='TEXT' width='60' required></td></tr>
    <tr><td>Letras:</td><td><input name='letras' type='TEXT' width='60' value="aeiou" required></td></tr>
</table>
<p>Cuando estes listo dale click al boton:</p>
<p><input value='Obtener' type='SUBMIT'></p>
</form>
    <p><a href="/data">Ver los registros</a></p>
{% endblock %}